.posts-container {
  display: flex;
  background-color: #f0f2f5;
  /* position: absolute; */
  align-items: center;
  width: 100%;
}

.posts {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  height: calc(639px - 56px);
  width: 100%;
}

.add-post {
  display: flex;
  flex-direction: column;
  background: #fff;
  padding: 0.5rem;
  width: calc(500px - 1rem);
  margin-top: 20px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.add-post-header {
  display: flex;
}

.add-post-photo {
  color: #fff;
  background-color: #f0f2f5;
  border-radius: 50%;
  width: 39px;
  margin-right: 0.5rem;
}

.add-post-input {
  width: calc(100% - 1.7rem - 40px);
  background-color: #efefef;
  cursor: pointer;
  display: inline-block;
  border-radius: 20px;
  padding: 10px;
}

.actions-add-post {
  display: flex;
  justify-content: space-evenly;
  padding-top: 0.5rem;
}

.actions-add-post div {
  display: flex;
  align-items: center;
}

.actions-add-post i {
  margin-right: 0.5rem;
}

.post-element {
  padding: 0.5rem 0;
  height: auto;
  width: 500px;
  background-color: #000;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}

.post-element:last-child {
  margin-bottom: 20px;
}

.post-header {
  /* background-color: #ccc; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 500px;
}

.post-header i {
  margin-right: 0.75rem;
}

.user-header {
  display: flex;
  align-items: center;
}

.user-header img {
  width: 40px;
  border-radius: 50%;
  margin: 0 0.5rem;
}

.post-element p {
  margin: 1rem;
}

.post-image {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.post-actions {
  margin-top: 1rem;
  background-color: #ccc;
  width: 500px;
  display: flex;
  justify-content: space-evenly;
  /* color: #999; */
}

@media screen and (min-width: 900px) {
  .posts-container {
    /* background: #000; */
    /* justify-content: space-between; */
  }

  .posts {
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
    padding-right: 20vw;
    /* background: #1877f2; */
  }
}

@media screen and (min-height: 640px) {
  .posts {
    height: calc(649px - 56px);
  }
}

@media screen and (max-width: 600px) {
  .posts {
    /* background-color: #000; */
  }

  .add-post {
    width: calc(400px - 1rem);
  }
  .post-element {
    width: 400px;
  }

  .post-header {
    width: 400px;
  }

  .post-actions {
    width: 400px;
  }
}
