body {
  /* overflow: hidden; */
}
.profile-container {
  display: flex;
  align-items: center;
}

.profile {
  background: #efefef;
  height: calc(100vh - 56px);
  width: 100%;
  background-color: #888;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
}

.profile-background {
  height: 225px;
  width: 100%;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  object-fit: fill;
}

.profile-photo {
  /* transform: translateX(-50%); */
  border-radius: 50%;
  border: 4px solid #fff;
  height: 168px;
  width: 168px;
  /* position: absolute; */
  transform: translateY(-88px);
}

.profile-name {
  width: 426px;
  background: #118;
  text-align: center;
  transform: translateY(-78px);
  font-size: 1.6rem;
  font-weight: 900;
}

.profile-friends {
  transform: translateY(-68px);

  font-size: 1rem;
  color: #666;
  font-weight: 700;
}

.fa-pen {
  padding-right: 0.5rem;
}

.edit-profile {
  border: none;
  border-radius: 7px;
  background-color: #ccc;
  /* transform: translateX(-50%); */
  width: 150px;
  padding: 0.45rem 0;
  font-size: 1.1rem;
  margin-bottom: 15px;
}

.profile-posts-container {
  display: flex;
  background-color: #f0f2f5;
  background: #f00;
  width: 100%;
  align-items: center;
}
