.right-nav {
  background: #fff;
  display: none;
}

@media screen and (min-width: 900px) {
  .right-nav {
    display: block;
    height: calc(639px - 56px);
    width: 20vw;
    overflow-y: auto;
    position: absolute;
    right: 1.05rem;
  }

  .right-nav__elements {
    font-size: 0.8rem;
  }

  .contacts-header {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0;
    font-size: 1rem;
  }

  .contacts-header h3 {
    margin-left: 0.5rem;
  }

  .contacts-header i {
    margin-right: 0.5rem;
    cursor: pointer;
  }

  .right-nav li {
    padding: 0.5rem 1rem;
  }
}

@media screen and (min-width: 1200px) {
  .contacts-header {
    font-size: 1.2rem;
  }
  .right-nav {
    height: calc(639px - 56px);
  }

  .right-nav__elements {
    font-size: 1rem;
  }
}

@media screen and (min-height: 640px) {
  .right-nav {
    height: calc(649px - 56px);
    /* background-color: rgb(52, 154, 154); */
  }
}
